[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:adalisan/dotfiles.git
[submodule "bash-it"]
	path = bash-it
	url = git@github.com:adalisan/bash-it.git
[submodule "grc"]
	path = grc
	url = git@github.com:garabik/grc.git
[submodule "vsi_common"]
	path = vsi_common
	url = https://github.com/adalisan/vsi_common.git
[submodule "shell-scripts"]
	path = shell-scripts
	url = git@github.com:adalisan/shell-scripts.git
[submodule "dotfiles_extra"]
	path = dotfiles_extra
	url = git@github.com:adalisan/dotfiles_extra
